header {
    width: 100%;
    
    margin-bottom: 30px;
    
}

body {
    background-image: url("http://i.imgur.com/qBIvAtp.jpg");
    background-size: cover;
}

h1 {
    font-family: 'Sacramento', cursive;
    color: #4D0812;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #4D0812;
    font-size: 20px;
}

.game-Container {
    width: 960px;
    margin: auto;
    padding: 30px;
    background-image: url("http://bgfons.com/uploads/paper/paper_texture1290.jpg");
    border: solid 5px #714F20;
    height: 700px;
    align-content: center;
}

.statement {
    margin-bottom: 15px;
    padding: 15px;
}

.message {
    margin-bottom: 15px;
    padding: 15px;
}

.timer {
    margin-top: 20px;
}

.questionBox {
    display: none;
    text-align: center;
}

.answerBox {
    display: none;
    text-align: center;
}

.finalScreen {
    display: none;
    text-align: center;
}

.stats {
    margin-bottom: 15px;
    padding: 15px;
}

.first-answer {
    margin-top: 5px;
    align-content: center;
    padding: 10px;
    color: #4D0812;
    background-color: #714F20;
}

.answerP {
    margin-top: 5px;
    align-content: center;
    padding: 10px;
    color: #4D0812;
    background-color: #714F20;
}

.first-answer:hover {
    background: hide;
}

.answerP:hover {
    background: hide;
}

.button {
    background-color: #714F20;
    border: 2px solid #4D0812;
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
}

.button:hover {
    background-color: black;
}

.restart {
    background-color: #714F20;
    border: 2px solid #4D0812;
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
}

.restart:hover {
    background-color: black;
}

footer {
    margin: 20px;
    padding: 20px;
    position: sticky;
    font-style: italic;
}